{% block style %}
<link rel="stylesheet" href="/static/assets/css/footer.css">
{% endblock %}

<footer class="footer">

  <div class="footer-container">

    <div class="footer-links">
      <ul>
        <li>Mentions légales</li>
        <li>Politique de confidentialité</li>
      </ul>
    </div>

    <div class="footer-links">
      <ul>
        <li>Trouver un interprète</li>
        <li>Voir tous les interprètes</li>
        <li>Espace interprète</li>
      </ul>
    </div>

  </div>

  <p class="footer-copy">
    © 2026 Réseau LSF Méditerranée – Plateforme de mise en relation entre clients et interprètes - Fabien BARGE
  </p>

</footer>