{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/static/assets/css/register.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main>
		<section>

			<div>
				<h2>Inscription de l'Interprète
				</h2>
			</div>
			<div>
				<form action="/register" method="post">

					<div>
						<label for="siretNumber">Numéro de Siret</label>
						<input id="siretNumber" type="text" name="siretNumber" placeholder="14 chiffres" pattern="\d{14}" maxlength="14"/>
						{% if error %}
							<p>{{error.siretNumber}}</p>
						{% endif %}
					</div>
					<div>
						<label for="lastName">Nom</label>
						<input id="lastName" type="text" name="lastName" placeholder="Votre nom de famille"/>
					</div>
					<div>
						<label for="firstName">Prénom</label>
						<input id="firstName" type="text" name="firstName" placeholder="Votre prénom"/>
					</div>
					<div>
						<label for="mail">Email</label>
						<input id="mail" type="mail" name="mail" placeholder="Votre email"/>
					</div>
					<div>
						<label for="confirm_mail">Confirmez votre mot de passe</label>
						<input id="confirm_mail" type="mail" name="confirm_mail" placeholder="Confirmer votre email"/>
						{% if error %}
							{{error}}
						{% endif %}
					</div>
					<div>
						<label for="password">Mot de Passe</label>
						<input id="password" type="password" name="password" placeholder="Mot de Passe"/>
					</div>
					<div>
						<label for="confirm_password">Confirmez votre mot de passe</label>
						<input id="confirm_password" type="password" name="confirm_password" placeholder="Confirmer votre Mot de Passe"/>
						{% if error %}
							{{error}}
						{% endif %}
					</div>

					<div>
						<button type="submit">S'enregistrer</button>
					</div>
					<a href="/login">Déja un compte?</a>
				</form>
			</div>
		</section>

	</main>

{% endblock %}
